<div class="container">
  <h1>Case Study</h1>
  <h2>Creating Programming Languages ABC++</h2>

  <div class="content">
    <p>The First step was coming up with the concepts. We needed a programming language, an illustration, and some facts
      about the language for each letter of the alphabet.</p>
    <div class="img-container"><img src="assets/img/abc/scan.jpeg" alt="thumbnails of illustration concepts"></div>
    <p>We went through many iterations of the bug, inspired by Grace Hopper's story of the moth trapped in the relay of a Mark II computer, before coming up on the final design.</p>
    <div class="img-container"><img src="assets/img/abc/concept5.png" alt="rough bug concept"></div>
    <p>Each time refining the design a little bit further.</p>
    <div class="img-container"><img src="assets/img/abc/concept6.png" alt="refined bug concept"></div>
    <p>We did the same for each page illustration concept, iterating over concepts and designs until we found
      something that worked and would resonate with both children and adults alike. Each illustration contains a nod to the tech industry.</p>
    <div class="img-container"><img src="assets/img/abc/e.jpeg" alt="rough sketch for letter E page"></div>
    <p>We also experimented with illustration styles.</p>
    <div class="img-container"><img src="assets/img/abc/color.png" alt="color illustration concept for the letter e"></div>
    <p>Once concepts, text, code, and illustrations were nailed down we designed the page layouts.</p>
    <div class="img-container"><img src="assets/img/abc/final.png" alt="final page for the letter e"></div>
    <p class="link"><a href="https://inedo.com/abc" rel="noopener" target="_blank">Get a Copy</a></p>
  </div>
</div>