<div class="container">
  <h1>About</h1>
  <div class="content bio">
    <!-- <img src="assets/img/martine-dowden.png" alt="photo of Martine Dowden"> -->
    <div class="text">
      <h2>Bio</h2>
      <img src="assets/img/flower.svg" alt="" class="shape"/>
      <h3><span>Martine Dowden</span> <span>(Google Developer Expert)</span></h3>
      <p>Focusing on web interfaces that are beautiful, functional, and usable, Martine delivers products that adhere to WCAG
        2.1 and Section 508 for accessibility and compliance. She approaches User Experience from both Art and Science, drawing
        from her degrees in Psychology and Visual Communications. Martine has worked as an artist, educator, and consultant
        since 2005.</p>
      <p>She stays active in the industry, teaching new developers at Eleven Fifty Academy, attending and speaking at conferences
        and meetups, and publishing the occasional blog. In 2015 Martine's children's book <a href="https://inedo.com/abc" target="_blank">Programming Languages ABC++</a> was
        published by Inedo, and in 2016 the Workbook Edition sold over 20,000 copies.</p>
    </div>
  </div>

  <div class="content skills-list">
    <div class="title">
      <h2>Skills</h2>
      <mat-form-field appearance="outline">
        <mat-label>Filter Skills</mat-label>
        <input #filterVal matInput placeholder="..." (keyup)="filter(filterVal.value)">
        <mat-icon matSuffix>filter_list</mat-icon>
      </mat-form-field>
    </div>
    <div class="skills">
      <div *ngFor="let skill of skills" class="skill">
        <div>{{skill.name}}</div>
        <div class="value">
          <div class="closed" *ngFor="let v of getNum(skill.value)"></div>
          <div *ngFor="let v of getNum(5 - skill.value)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
