@import '../../../assets/scss/mixins';

h1 { margin-bottom: 1rem; }

.skills-list {
  position: relative;
}

.background {
  background-image: url('../../../assets/img/flower.svg');
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  opacity: .15;
  z-index: -1;
}

.bio {
  background: #fafafa;
  h2 { margin-top: 0; }
  img {
    border-radius: 50%;
    max-width: 10rem;
    margin-right: .75rem;
    float: left;
  }
}

.skill {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.value {
  display: flex;
  div {
    height: .75rem;
    width: .75rem;
    border: solid 1px $primary;
    margin: 0 .25rem;
    border-radius: 50%;
  }
  .closed {
    background-color: lighten($primary, 25%);
  }
}

.project-list {
  background: lighten($accent, 35%);
}

.projects {
  & > div {
    border: solid 1px lighten($primary, 35%);
    padding: 1.25rem;
    border-radius: 3px;
    margin-bottom: 1rem;
    text-align: center;
    background: #fafafa;
    img {
      width: 66%;
    }
  }
}

@media (min-width: 500px) {
  .skills {
    flex-wrap: wrap;
    display: flex;
  }
  
  .skill {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    & > div {
      flex-basis: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .projects {
    display: flex;
    justify-content: space-between;
    & > div {
      flex-basis: 32%;
      flex-grow: 0;
      flex-shrink: 0;
    }
  }
}

@media (min-width: 855px) {
  .skill {
    flex-basis: 33%;
  }
}
