<h1>About</h1>

<div class="content bio">
  <img src="/assets/img/martine-dowden.png" alt="photo of Martine Dowden">
  <div class="text">
    <h2>Bio</h2>
    <p>Focusing on web interfaces that are beautiful, functional, and usable, Martine delivers products that adhere to WCAG
      2.0 and Section 508 for accessibility and compliance. She approaches User Experience from both Art and Science, drawing
      from her degrees in Psychology and Visual Communications. Martine has worked as an artist, educator, and consultant
      since 2005.</p>
    <p>She stays active in the industry, teaching new developers at Eleven Fifty Academy, attending and speaking at conferences
      and meetups, and publishing the occasional blog. In 2015 Martine's children's book "Programming Languages ABC++" was
      published by Inedo, and in 2016 the Workbook Edition sold over 20,000 copies.</p>
  </div>
</div>

<div class="content project-list">
  <h2>Projects</h2>
  <div class="projects">
    <div>
      <img src="/assets/img/flexepark_car.svg">
      <h3><a href="https://flexepark.com" target="_blank" rel="noopener">Flexepark</a></h3>
    </div>
    <div>
      <img src="/assets/img/librum_arcanum.svg">
      <h3><a href="https://www.librumarcanum.com/" target="_blank" rel="noopener">Librum Arcanum</a></h3>
    </div>
    <div>
      <img src="/assets/img/sod_icon.svg">
      <h3><a href="https://www.shiftsondemand.com/" target="_blank" rel="noopener">Shifts On Demand</a></h3>
    </div>
  </div>
</div>

<div class="content skills-list">
  <h2>Skills</h2>
  <div class="skills">
    <div *ngFor="let skill of skills" class="skill">
      <div>{{skill.name}}</div>
      <div class="value">
        <div class="closed" *ngFor="let v of getNum(skill.value)"></div>
        <div *ngFor="let v of getNum(5 - skill.value)"></div>
      </div>
    </div>
  </div>
  <div class="background"></div>
</div>




