@import '../../../assets/scss/mixins';

footer {
  padding: .5rem 1.25rem;
  height: 48px;
  border-top: solid 1px lighten($primary, 33%);
  background: #fafafa;
  text-align: right;
}

a {
  margin-left: .5rem;
}

a:hover,
a:focus {
  text-decoration: none;
  opacity: .50;
  border-color: $transparant;
}

img {
  width: 1.75rem;
}