<footer>
  <p>Happy Coding!</p>
  <div>
    <a target="_blank" rel="noopener" href="https://github.com/martine-dowden">
      <img src="assets/img/social-media/github.svg" alt="github">
    </a>
    <a target="_blank" rel="noopener" href="https://twitter.com/Martine_Dowden">
      <img src="assets/img/social-media/twitter.svg" alt="twitter">
    </a>
    <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/martinedowden">
      <img src="assets/img/social-media/linkedin.svg" alt="linkedIn">
    </a>
  </div>
</footer>