@import '../../../assets/scss/mixins';

h1 {
  line-height: 3.5rem;
  margin-bottom: 3rem;
  small {
    font-size: 2rem;
    font-family: 'Josefin Slab', serif;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 35rem;
  margin: 0 auto;
  div {
    background: white;
    height: 7.5rem;
    width: 7.5rem;
    font-family: 'Pacifico', cursive;
    border-radius: 50%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2rem 2rem;
  }
}