
$gray: #707d89;
$light-gray: #CCDDD3;
$bone: #DFEFCA;
$topaz: #FFD182;
$pale-cerulean: #9BC4CB;

$background: white;
$primary: darken($pale-cerulean, 35%); 
$accent: darken($topaz, 23%);
$text-dark: darken($gray, 10%);

$transparant: rgba(0, 0, 0, 0);
