<h1>Samples</h1>

<div class="content code">
  <h2>Code</h2>
  <div class="samples">
    <div class="sample">
      <div>
        <img src="assets/img/css.svg" alt="">
        <h3 class="title">.css &#123; display: what? &#125;</h3>
        <p>Demo of the different values for the css display property</p>
      </div>
      <div class="links">
        <a href="https://github.com/martine-dowden/display-what" target="_blank" rel="noopener">Repository</a>
        <a href="https://martine-dowden.github.io/display-what/index.html" target="_blank" rel="noopener">Demo Site</a>
      </div>
    </div>
    <div class="sample">
      <div>
        <img src="assets/img/fireside.svg" alt="">
        <h3 class="title">Playing With Fire</h3>
        <p>Firebase Workshop</p>
      </div>
      <div class="links">
        <a href="https://github.com/Mx3-Studio" target="_blank" rel="noopener">Repositories</a>
        <a href="http://playingwithfire.live/" target="_blank" rel="noopener">Demo Site</a>
      </div>
    </div>
    <div class="sample">
      <div>
        <img src="assets/img/cookbook.svg" alt="">
        <h3 class="title">Accessibility Cookbook: 10 Easy Recipes</h3>
        <p>Accessibility Demo Site</p>
      </div>
      <div class="links">
        <a href="https://github.com/martine-dowden/accessibility-cookbook" target="_blank" rel="noopener">Repository</a>
        <a href="https://martine-dowden.github.io/accessibility-cookbook/#/home" target="_blank" rel="noopener">Demo Site</a>
      </div>
    </div>
  </div>
</div>

<div class="content design">
  <h2>Design</h2>
  <h3>Design Process</h3>
  <div>
    <div class="design-sample sketch">
      <img src="assets/img/abc/scan.jpeg">
    </div>
    <div class="design-sample thumbnails">
      <div><img src="assets/img/abc/concept5.png"></div>
      <div><img src="assets/img/abc/concept6.png"></div>
      <div><img src="assets/img/abc/e.jpeg"></div>
    </div>
    <div class="design-sample illustrations">
      <img src="assets/img/abc/color.png">
      <img src="assets/img/abc/final.png">
    </div>
  </div>
</div>

<div class="content design branding">

  <h3>Branding</h3>
  <div>
    <div class="design-sample brand">
      <img src="assets/img/branding/mobilify.png">
      <img src="assets/img/branding/mobilify-icon.png">
    </div>
    
    <div class="design-sample brand">
      <img src="assets/img/branding/tekyn.png">
      <img src="assets/img/branding/t.png">
    </div>
  </div>

  <div>
    <div class="design-sample brand sod">
      <img src="assets/img/sod_logo.svg">
      <img src="assets/img/sod_icon.svg">
    </div>
    
    <div class="design-sample brand">
      <img src="assets/img/librum-logo.svg">
      <img src="assets/img/librum_arcanum.svg">
    </div>
  </div>

  <h4>Branding Suite</h4>
  <div class="flexepark">
    <div class="design-sample brand">
      <img src="assets/img/horzontal-flexe.svg">
      <img src="assets/img/package_logo-color.svg">
    </div>
    
    <div class="design-sample brand">
      <img src="assets/img/road.svg">
      <img src="assets/img/flexepark_car.svg">
    </div>
  </div>

  <div class="flexepark-artifacts">
    <div class="design-sample brand">
      <img src="assets/img/community2.svg">
      <img src="assets/img/lot2.svg">
    </div>
    
    <div class="design-sample brand">
      <img src="assets/img/community.svg">
      <img src="assets/img/lot.svg">
    </div>
  </div>
</div>


