<h1>Portfolio</h1>

<div class="content code">
  <div class="container">
    <h2>Projects</h2>
    <div class="projects">
      <div *ngFor="let project of projects" class="project" [ngClass]="{'flipped': project.flipped }">
        <div class="inner-container">
          <div class="front">
            <div><img [src]="project.icon" [alt]="project.name"></div>
            <h3>{{ project.name }}</h3>
          </div>
          <div class="back">
            <h3>{{ project.name }}</h3>
            <p>{{ project.description }}</p>
            <div class="links">
              <span *ngFor="let link of project.links"><a [href]="link.href" rel="noopener" target="_blank">{{link.text}}</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
