<h1>Portfolio</h1>

<div class="content code">
  <h2>Projects</h2>
  <div class="projects">
    <div *ngFor="let project of projects" class="project" [ngClass]="{'flipped': project.flipped }">
      <div class="inner-container">
        <div class="front">
          <img [src]="project.icon" [alt]="project.name">
        </div>
        <div class="back">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
          <div class="links">
            <a *ngFor="let link of project.links" [href]="link.href" rel="noopener" target="_blank">{{link.text}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content design">
  <h2>Design</h2>
  <h3>Design Process</h3>
  <div>
    <div class="design-sample sketch">
      <img src="assets/img/abc/scan.jpeg">
    </div>
    <div class="design-sample thumbnails">
      <div><img src="assets/img/abc/concept5.png"></div>
      <div><img src="assets/img/abc/concept6.png"></div>
      <div><img src="assets/img/abc/e.jpeg"></div>
    </div>
    <div class="design-sample illustrations">
      <img src="assets/img/abc/color.png">
      <img src="assets/img/abc/final.png">
    </div>
  </div>
</div>

<div class="content design branding">

  <h3>Branding</h3>
  <div>
    <div class="design-sample brand">
      <img src="assets/img/branding/mobilify.png">
      <img src="assets/img/branding/mobilify-icon.png">
    </div>

    <div class="design-sample brand">
      <img src="assets/img/branding/tekyn.png">
      <img src="assets/img/branding/t.png">
    </div>
  </div>

  <div>
    <div class="design-sample brand sod">
      <img src="assets/img/sod_logo.svg">
      <img src="assets/img/sod_icon.svg">
    </div>

    <div class="design-sample brand">
      <img src="assets/img/librum-logo.svg">
      <img src="assets/img/librum_arcanum.svg">
    </div>
  </div>

  <h4>Branding Suite</h4>
  <div class="flexepark">
    <div class="design-sample brand">
      <img src="assets/img/horzontal-flexe.svg">
      <img src="assets/img/package_logo-color.svg">
    </div>

    <div class="design-sample brand">
      <img src="assets/img/road.svg">
      <img src="assets/img/flexepark_car.svg">
    </div>
  </div>

  <div class="flexepark-artifacts">
    <div class="design-sample brand">
      <img src="assets/img/community2.svg">
      <img src="assets/img/lot2.svg">
    </div>

    <div class="design-sample brand">
      <img src="assets/img/community.svg">
      <img src="assets/img/lot.svg">
    </div>
  </div>
</div>