@import '../../../assets/scss/mixins';

.projects {
  .project {
    height: 15.5rem;
    width: 15.5rem;
    margin: 0 auto 1rem;
    position: relative;
    perspective: 1000px;
    background-color: transparent;
  }
  img {
    width: 10rem;
    display: block;
  }
  .links {
    a:not(:last-of-type):after {
      content: " - ";
    }
  }
}

.project:hover .inner-container {
  transform: rotateY(180deg);
}

.inner-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  border: solid 1px $primary;
  border-radius: 50%;
  padding: 2rem;
}

.front {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.back {
  transform: rotateY(180deg);
}


.design {
  .design-sample {
    text-align: center;
  }
  img {
    max-width: 100%;
    margin-bottom: .5rem;
    border: solid 1px lighten($primary, 33%);
  }
}

.brand img {
  padding: 2rem;
  background: white;
}


h1 { margin-bottom: 1rem; }
h2 { margin-top: 0; }

@media (min-width: 500px) {

  .projects {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .project {
      margin-bottom: 2rem;
    }
  }
  
  .design > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .design-sample {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 48%;
      flex-grow: 0;
    }
    .sketch {
      flex-basis: 40%;
    }
    .thumbnails {
      flex-basis: 18%;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 1rem;
    }
    .illustrations {
      flex-basis: 35%;
    }

    .brand {
      flex-basis: 45%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 0;
      margin-bottom: 3rem;
      img {
        flex-grow: 0;
        flex-shrink: 1;
        border: none;
        background: none;
        padding: 0;
      }
      img:first-of-type {
        flex-basis: 70%;
        max-width: 70%;
      }
      img:last-of-type {
        flex-basis: 20%;
        max-width: 20%;
      }
      &.sod img:first-of-type {
        flex-basis: 25%;
        max-width: 25%;
      }
    }

    &.flexepark-artifacts {
      div.brand {
        img:first-of-type,
        img:last-of-type {
          flex-basis: 45%;
          max-width: 45%;
        }
      }
    }
  }

  

}

