.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 1300;
}

.router {
  position: absolute;
  top: 72px;
  right: 0;
  left: 0;
  bottom: 48px;
  overflow: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 48px;
  z-index: 1200;
}