@import '../../../assets/scss/mixins';

.chips {
  margin-top: 2rem;
}

.pub {
  margin: 0 1.25rem 4rem;
  ul { padding: 0; }
  li {
    list-style-type: none;
    height: 13rem;
    width: 13rem;
    padding: 2rem;
    border-radius: 50%;
    background: #fafafa;
    border: solid 1px $primary;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0;
  }
  a {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.15rem;
    line-height: 1.5rem;
  }
  span {
    display: block;
    margin-top: .5rem;
  }
}

h2 {
  text-align: center;
}


@media (min-width: 500px) {
  .pub {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      margin: 2rem 1rem auto;
    }
  }
}