<h1>Publications</h1>
<div class="content pub">
  <ul>
    <li>
      <a href="https://www.oreilly.com/ideas/implement-oauth0-in-15-minutes-with-firebase" target="_blank" rel="noopener">
        Implement OAuth in 15 minutes with Firebase: A Start-to-finish example with Angular and Typescript.
      </a>
      <span>O'Reilly - January 25th, 2018</span>
    </li>
    <li>
      <a href="https://inedo.com/abc" target="_blank" rel="noopener">Programming Languages ABC++</a>
      <span>Inedo - 2015</span>
    </li>
    <li>
      <a href="https://thebookpatch.com/BookStore/woodlands-the-coloring-book/f22fe985-6c40-4d69-b85c-f0e7a94a4783?isbn=9781620304853" target="_blank" rel="noopener">Woodlands: The Coloring Book</a>
      <span>Psychedelic Creations - 2013</span>
    </li>
  </ul>
</div>


<div class="content speaking">
  <h2>Speaking Engagements</h2>
  <h3>2018</h3>
  <ul>
    <li>
      <a href="https://conferences.oreilly.com/fluent/fl-ca?cmp=kn-web-confreg-home-flca18_branded" target="_blank" rel="noopener">O'Reilly Fluent</a>
      <span>June 2018</span>
      <ul>
        <li>.css &#123; display: what? &#125;</li>
      </ul>
    </li>

    <li>
      <a href="https://www.stirtrek.com/" target="_blank" rel="noopener">Stir Trek</a>
      <span>April 2018</span>
      <ul>
        <li>Accessibility Cookbook: 10 Easy Recipes</li>
      </ul>
    </li>
      
    <li>
      <a href="https://indycode.amegala.com/" target="_blank" rel="noopener">Indy.Code()</a>
      <span>April 2018</span>
      <ul>
        <li>.css &#123; display: what? &#125;</li>
        <li>Care and Feeding of Your Developers</li>
      </ul>
    </li>
    
    <li>
      <a href="http://www.codepalousa.com/" target="_blank" rel="noopener">Code PaLOUsa</a>
      <span>March 2018</span>
      <ul>
        <li>Fabricating Fantastic Forms</li>
        <li>Accessibility Cookbook: 10 Easy Recipes</li>
      </ul>
    </li>

    <li>
      <a href="http://www.codemash.org/" target="_blank" rel="noopener">Codemash</a>
      <span>January 2018</span>
      <ul>
        <li>Accessibility Cookbook: 10 Easy Recipes</li>
      </ul>
    </li>
  </ul>  
  
  <h3>2017</h3>

  <ul>
    <li>
      <div>Dev Up</div>
      <span>October 2017</span>
      <ul>
        <li>Accessibility Cookbook: 10 Easy Recipes</li>
        <li>.css &#123; display: what? &#125;</li>
      </ul>
    </li>
    <li>
      <div>Prairy.Code()</div>
      <span>September 2017</span>
      <ul>
        <li>Developers are People Too</li>
      </ul>
    </li>
    <li>
      <div>KCDC</div>
      <span>September 2017</span>
      <ul>
        <li>Playing with Fire : Build a real-time application with Firebase</li>
        <li>Not Just My Opinion: The Psychology of Good Design</li>
      </ul>
    </li>
    <li>
      <div>CodePaLOUsa</div>
      <span>June 2017</span>
      <ul>
        <li>Playing with Fire : Build a real-time application with Firebase</li>
        <li>Not Just My Opinion: The Psychology of Good Design</li>
        <li>Get Real! Build Real-Time apps with Firebase</li>
      </ul>
    </li>
    <li>
      <div>Music City Code</div>
      <span>June 2017</span>
      <ul>
        <li>Not Just My Opinion: The Psychology of Good Design</li>
      </ul>
    </li>
    <li>
      <div>Indy.Code()</div>
      <span>April 2017</span>
      <ul>
        <li>Playing with Fire : Build a real-time application with Firebase</li>
        <li>Not Just My Opinion: The Psychology of Good Design</li>
      </ul>
    </li>
  </ul>
</div>