<div class="container">
  <h1>Publications</h1>
  <div class="pub">
    <div class="chips">
      <mat-chip-list>
        <mat-chip *ngFor="let chip of chips" selectable [selected]="chip.selected" (click)="onSelect(chip)">
          {{ chip.text }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <ul>
      <li *ngFor="let pub of publications">
        <a *ngIf="pub.type !== 'presentation'" [href]="pub.link" target="_blank" rel="noopener">
          {{ pub.linkText }}
        </a>
        <a *ngIf="pub.type === 'presentation'" [routerLink]="['/presentation', pub.link ]">
          {{ pub.linkText }}
        </a>
        <span>{{ pub.publisher }}</span>
        <span>{{ pub.year }}</span>
      </li>
    </ul>
  </div>
</div>
