@import '../../../assets/scss/mixins';

.calendar {
  div {
    border: solid 1px $light-gray;
    margin-top: -1px;
    padding: 1.25rem;
  }
  ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
    li:before {
      content: url('../../../assets/img/brand/flower-color.svg');
      width: 1.5rem;
      display: inline-block;
      vertical-align: middle;
      margin-right: .5rem;
    } 
    a {
      font-size: 1.15rem;
    }
  }
}

h1 { margin-bottom: 2.5rem; }
h2 { text-align: center }

.header {
  font-size: 1rem;
}

@media (min-width: 500px) {
  .pub {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    li {
      margin: 2rem 1rem auto;
    }
  }
  .calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

