<div class="container content speaking">

  <h1>Speaking Engagements</h1>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="header">2020</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>2020</h2>
      <div class="calendar">
        <div class="january">
          <span>January</span>
          <ul>
            <li><a href="https://antarcticonf.com/" target="_blank" rel="noopener">AntarctiConf</a></li>
          </ul>
        </div>
        <div class="february">
          <span>February</span>
        </div>
        <div class="march">
          <span>March</span>
        </div>
        <div class="april">
          <span>April</span>
        </div>
        <div class="may">
          <span>May</span>
        </div>
        <div class="june">
          <span>June</span>
        </div>
        <div class="july">
          <span>July</span>
        </div>
        <div class="august">
          <span>August</span>
        </div>
        <div class="september">
          <span>September</span>
        </div>
        <div class="october">
          <span>October</span>
        </div>
        <div class="november">
          <span>November</span>
        </div>
        <div class="december">
          <span>December</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="header">2019</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>2019</h2>
      <div class="calendar">
        <div class="january">
          <span>January</span>
        </div>
        <div class="february">
          <span>February</span>
        </div>
        <div class="march">
          <span>March</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="april">
          <span>April</span>
          <ul>
            <li><a href="http://codestock.org/" target="_blank" rel="noopener">Codestock</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="may">
          <span>May</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="june">
          <span>June</span>
          <ul>
            <li><a href="https://ndcoslo.com/" target="_blank" rel="noopener">NDC Oslo</a></li>
          </ul>
        </div>
        <div class="july">
          <span>July</span>
          <ul>
            <li><a href="https://www.kcdc.info/" target="_blank" rel="noopener">KCDC</a></li>
            <li><a href="https://www.cincydeliver.org/" target="_blank" rel="noopener">Cincy Deliver</a></li>
          </ul>
        </div>
        <div class="august">
          <span>August</span>
          <ul>
            <li><a href="https://www.javascriptandfriends.com/" target="_blank" rel="noopener">JavaScript and Friends Conference</a></li>
            <li><a href="http://www.codepalousa.com/" target="_blank" rel="noopener">Code PaLOUsa</a></li>
          </ul>
        </div>
        <div class="september">
          <span>September</span>
        </div>
        <div class="october">
          <span>October</span>
          <ul>
            <li><a href="https://ndcsydney.com/" target="_blank" rel="noopener">NDC Sydney</a></li>
          </ul>
        </div>
        <div class="november">
          <span>November</span>
          <ul>
            <li><a href="https://devoxx.ma/" target="_blank" rel="noopener">Devoxx Morocco</a></li>
          </ul>
        </div>
        <div class="december">
          <span>December</span>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="header">2018</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>2018</h2>
      <div class="calendar">
        <div class="january">
          <span>January</span>
          <ul>
            <li><a href="http://www.codemash.org/" target="_blank" rel="noopener">CodeMash</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="february">
          <span>February</span>
        </div>
        <div class="march">
          <span>March</span>
          <ul>
            <li><a href="http://www.codepalousa.com/" target="_blank" rel="noopener">Code PaLOUsa</a></li>
          </ul>
        </div>
        <div class="april">
          <span>April</span>
          <ul>
            <li><a href="https://indycode.amegala.com/" target="_blank" rel="noopener">Indy.Code()</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
            <li><a href="http://www.cinnug.org/" target="_blank" rel="noopener">Cinnug</a></li>
          </ul>
        </div>
        <div class="may">
          <span>May</span>
          <ul>
            <li><a href="https://www.stirtrek.com/" target="_blank" rel="noopener">Stir Trek</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="june">
          <span>June</span>
          <ul>
            <li><a href="https://conferences.oreilly.com/fluent/fl-ca?cmp=kn-web-confreg-home-flca18_branded"
                target="_blank" rel="noopener">O'Reilly Fluent</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="july">
          <span>July</span>
          <ul>
            <li><a href="https://www.kcdc.info/" target="_blank" rel="noopener">KCDC</a></li>
            <li><a href="https://www.dayofagile.org/" target="_blank" rel="noopener">Cincinnati Day of Agile</a></li>
          </ul>
        </div>
        <div class="august">
          <span>August</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="september">
          <span>September</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="october">
          <span>October</span>
          <ul>
            <li><a href="https://www.devupconf.org/" target="_blank" rel="noopener">dev up</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="november">
          <span>November</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="december">
          <span>December</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="header">2017</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>2017</h2>
      <div class="calendar">
        <div class="january">
          <span>January</span>
        </div>
        <div class="february">
          <span>February</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="march">
          <span>March</span>
        </div>
        <div class="april">
          <span>April</span>
          <ul>
            <li><a href="https://indycode.amegala.com/" target="_blank" rel="noopener">Indy.Code()</a></li>
          </ul>
        </div>
        <div class="may">
          <span>May</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="june">
          <span>June</span>
          <ul>
            <li><a href="http://www.codepalousa.com/" target="_blank" rel="noopener">Code PaLOUsa</a></li>
            <li><a href="http://www.musiccitycode.com/" target="_blank" rel="noopener">Music City Code</a></li>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="july">
          <span>July</span>
          <ul>
            <li><a href="https://www.kcdc.info/" target="_blank" rel="noopener">KCDC</a></li>
          </ul>
        </div>
        <div class="august">
          <span>August</span>
        </div>
        <div class="september">
          <span>September</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
            <li><a href="https://prairiecode.amegala.com/" target="_blank" rel="noopener">Prairie.Code()</a></li>
          </ul>
        </div>
        <div class="october">
          <span>October</span>
          <ul>
            <li><a href="https://www.devupconf.org/" target="_blank" rel="noopener">dev up</a></li>
          </ul>
        </div>
        <div class="november">
          <span>November</span>
          <ul>
            <li><a href="https://www.elevenfifty.org/" target="_blank" rel="noopener">Eleven Fifty Academy</a></li>
          </ul>
        </div>
        <div class="december">
          <span>December</span>
        </div>
      </div>

    </mat-expansion-panel>
  </mat-accordion>
</div>