<div class="container">
  <h1>{{ title }}</h1>
  <div [ngSwitch]="presentationId" class="abstract">
    <div *ngSwitchCase="'display-what'">
      <p>As if css wasn't tricky enough as it was, they had to go and add all this new stuff to it like grid and flex… now which one am i supposed to use?</p>
      <p>To make matters worse, all of the new css layout techniques use primarily the display property which now has over 40 possible values.</p>
      <p>In this talk we will look at the history of the display property and ways you can use it to display, hide, and layout content.</p>
    </div>
    <div *ngSwitchCase="'fantastic-forms'">
      <p>A developer staple: the CRUD app. We all write them, and they all contain forms. Lots of forms.</p>
      <p>In this talk you will learn how to make those forms more user friendly by delving into:</p>
      <ul>
        <li>UX techniques to guide the user</li>
        <li>Accessibility considerations and testing</li>
        <li>Form validation</li>
        <li>Error handling</li>
      </ul>
    </div>
    <div *ngSwitchCase="'psych-of-design'">
      <p>Have you ever heard the phrases “beauty is in the eye of the beholder” or “I like what I like” when someone is dismissing your design?  Too often good designs are dismissed for aesthetic differences instead of appreciated for its intrinsic value.</p>
      <p>Many features of good design are objective, not subjective, and can be either qualified or quantified with predictable results.</p>
      <p>Together we will delve into the psychology, physiology, and mathematics of design principles for two key purposes:</p>
      <ul>
        <li>Validating our designs</li>
        <li>Convincing others of the value and validity of our designs</li>
      </ul>
    </div>
    <div *ngSwitchCase="'care-feeding'">
      <p>We all understand the value of focusing on User Experience when designing products and services. Costs go down, revenues go up, satisfaction and efficiency both increase while errors and complaints decrease.</p>
      <p>But are you sure that you have identified all of your users? For most companies, there is a major category of people that are often overlooked: Software Developers. Developers are users of many systems within an organization: databases, web services, web hosting, authentication providers, and more. However unlike most users, developers depend most on the environments that are considered non-production, and the direct and indirect costs of outages are rarely considered.</p>
      <p>What is the impact of equipping a developer with a $1,000 laptop instead of a $5,000 multi-screen rig? What happens to your product development when one of your developers quits and a new person joins the team? How can you support developers that write clean, maintainable code?</p>
      <p>We will look at best practices for supporting the developer experience, including documentation, processes, tools, and supporting systems.</p>
    </div>
    <div *ngSwitchCase="'accessibility-cookbook'">
      <p>If you ever use the elevator,  subtitles to watch that cat video during a boring meeting, or tabbed through a form, you have used an accessibility feature.</p>
      <p>As a community we understand that accessibility is necessary but when it comes to implementation, we often fall short.</p>
      <p>In this talk you will learn</p>
      <ul>
        <li>Why accessibility is important</li>
        <li>10 common accessibility fails</li>
        <li>How to test for them</li>
        <li>Solutions anyone can implement</li>
      </ul>
    </div>
    <div *ngSwitchCase="'mastering-shadow-dom'">
      <p>Want to create components that work regardless of the front-end framework you are using?</p>
      <p>Tired of throwing away your components when you change front-end frameworks?</p>
      <p>Wish you could just code it once and reuse it on all of your projects?</p>
      <p>Me too! Components are a staple of front-end development as they increase development speed, consistency, and reduce the need for repeat code. To create components often we turn to frameworks such as Angular, React, and Vue but we don't need to. </p>
      <p>Using nothing more than HTML and Javascript that is readily available to us in all modern browsers we can create components that work without being tied to any one front-end framework. </p>
      <p>You will walk away with the knowledge you need to go forth and create your own components, understand how to make them look gorgeous, and what if any limitations there are. Also, find out how you can bring back the blink tag!</p>
      <p><a href="https://github.com/martine-dowden/shadow-dom" target="_blank" rel="noopener">Link to Repo</a></p>
    </div>
    <div *ngSwitchCase="'accessibility-basics-workshop'">
      <p>If you ever use the elevator, subtitles to watch that cat video during a boring meeting, or tabbed through a form, you have used an accessibility feature. As a community we understand that accessibility is necessary but when it comes to implementation, we often fall short.</p>
      <p>This hands on workshop is for those interested in learning how to get started. You will take an existing website and identify and fix its accessibility issues.</p>
      <p>You will learn:</p>
      <ul>
        <li>Accessibility principles</li>
        <li>Accessibility issues and their impact on users</li>
        <li>Tools and techniques to identify issues</li>
        <li>Strategies and methods for fixing accessibility issues</li>
      </ul>
      <p><a href="https://github.com/martine-dowden/accessibility-basics" target="_blank" rel="noopener">Link to Repo</a></p>
    </div>
    <div *ngSwitchCase="'tables-have-their-place'">
      <p>Tables have gotten a bad reputation over the years. Historically, we used them for layout, a practice thoroughly frowned upon today. When responsive and fluid layouts came into the scene, they proved difficult to work with. As a result, we have shied away from them but it doesn’t have to be this way. In this talk we will go over:</p>
      <ul>
        <li>When to use tables, and when not too</li>
        <li>Techniques to make them work on mobile screen</li>
        <li>Accessibility considerations</li>
        <li>Alternate layout options when a table is not the correct option</li>
      </ul>
      <p><a href="https://bit.ly/2Snu6y4" target="_blank" rel="noopener">Link to Gist</a></p>
    </div>
    <div *ngSwitchCase="'predictable-spell-casting'">
      <p>If you are not considering animations before an action and your web app fires, then you are unintentionally designing your app to simultaneously cast daze and confusion spells. Instead you want to ensure users roll a 20 on their spellcraft check and orient them without having to give them their own magic wand and book of spells. You need to show them which spells are being cast and get them excited about the next bit of magic that is about to occur.</p>
      <p>As your spell master, I will teach you to cast eloquent spells with a dash CSS transitions, a drop of keyframes and a pinch of html that you can quickly apply to your spells to remove daze and confusion.</p>
    </div>
    <div *ngSwitchCase="'can-you-read-me-now'">
      <p><i>Lightning Talk</i></p>
      <p>15% of the world’s population has some form of disability, but only very few of our websites are actually accessible. But what does that word mean anyway? Accessible?</p>
      <p>In this talk we will go over what accessibility means in the context of web content and how to get your team started in making sure your content can be accessed by all.</p>
    </div>
    <div *ngSwitchCase="'typesetting-in-css'">
      <p>From hands, to chisels, quills, the printing press, and now the web, a written record of our existence has been a constant throughout history. Languages, and how they are depicted, have evolved alongside the tools we use to render them. Often overlooked in design, text content is an integral part of the visual aspect of an application and CSS allows us to control and manipulate its look and feel.</p>
      <p>In this talk we will cover a little bit about the history of typography leading up to where we are today, how to make decisions about fonts and their usage in our application, and the CSS properties that allow us to manipulate our type for a polished beautiful design.</p>
      <p><a href="https://github.com/martine-dowden/typesetting-in-css" target="_blank" rel="noopener">Link to Repo</a></p>
    </div>
    <div *ngSwitchCase="'kiss-my-sass'">
      <p>For almost 15 years we have had Syntactically Awesome Stylesheets (SASS) to help us write our CSS. But are we really using sass to its fullest? We know about variables, and nesting properties is nice, but what else can it do for us? There is a lot that SASS can do that often goes ignored or underutilized. Furthermore, mixins, includes, and functions, can change how we architect our code. In this talk we will go over some of the more advanced features SASS provides, what their benefits are, how they affect the CSS output created, and implementation use cases.</p>
      <p><a href="https://github.com/martine-dowden/kiss-my-sass" target="_blank" rel="noopener">Link to Repo</a></p>
    </div>
    <div *ngSwitchCase="'sprinkle-vast-greatness'">
      <p>Scalable Vector Graphics, or SVGs, have become a lot more common on the web today. We see them as alternate options to downloading entire icon font libraries, as replacements for pngs and jpegs but what more can they do? Did you know you can access their code directly and manipulate them? Even let you users interact with them?</p>
      <p>In this talk we will go over what the SVG code looks like, what it means, and how to generate it. Then we will delve into not only how to manipulate the styles but also how to add functionality in them such as links and click events.</p>
      <p><a href="https://github.com/M2D2co/pumpkin-soup" target="_blank" rel="noopener">Link to Repo</a></p>
    </div>
    <div *ngSwitchCase="'architecting-for-accessibility'">
      <p>Accessibility has been a part of development since the very beginning of the web. And although we have been talking about it since Tim Berners-Lee was working for CERN, to this day the struggles seem to remain the same. Not just how do we make our applications accessible, but also how do we integrate testing into our workflow? Who should be responsible for what and what questions do we even need to ask?</p>
      <p>Instead of looking at code implementation, this talk will cover what questions to ask when getting started and how to read and understand the specification. We will then look at how different roles on the team are affected and the impact and changes including accessibility as part of development will have on the development cycle.</p>
    </div>
    <div *ngSwitchDefault>
      <pre> presenationId = {{ presentationId }} not found</pre>
    </div>
  </div>
  <div class="resp-container" *ngIf="video">
    <iframe [src]="sanitize(video)" frameborder="0" class="resp-iframe" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="resp-container" *ngIf="url">
    <iframe [src]="sanitize(url)" frameborder="0" class="resp-iframe" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
</div>
